.main
  .main__head
    .main__head--title
      ToDo
    .main__head--box
      = form_with model: @todo do |f|
        = f.text_field :list, placeholder: "New List", class: "text-box"
        = f.submit "add", class: "btn"
  .main__body
    .main__body--list
      %script(src="todo.js")